.password-big-dots {
  font-weight: 900; /* biar bullet tebal */
  letter-spacing: 3px; /* jarak antar bullet */
}

/* Override toast default */
[data-sonner-toast] {
  background-color: #ffffff !important; /* putih */
  color: #000000 !important;
  backdrop-filter: none !important;
  opacity: 1 !important;
}

/* Untuk success */
[data-sonner-toast][data-type="success"] {
  background-color: #22c55e !important; /* green-500 */
  color: white !important;
  border-radius: 12px !important;
}

/* Untuk warning */
[data-sonner-toast][data-type="warning"] {
  background-color: #f59e0b !important; /* amber-500 */
  color: white !important;
  border-radius: 12px !important;
}

/* Untuk error */
[data-sonner-toast][data-type="error"] {
  background-color: #ef4444 !important; /* red-500 */
  color: white !important;
  border-radius: 12px !important;
}

@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}
